@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  color: #f0f0f0;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #1c1c1c;
  --primary-color: #2ecc71;
  --secondary-color: #2fe81a;
  --tertiary-color: #0c6732;
  --typewriterSpeed: 2.2s;
  --typewriterCharacters: 125;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #1c1c1c inset;
  -webkit-text-fill-color: white;
}

input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #1c1c1c inset;
  -webkit-text-fill-color: white;
}

input:focus + label,
input:not(:placeholder-shown) + label,
textarea:focus + label,
textarea:not(:placeholder-shown) + label {
  transform: translate(-5px, -27px);
  font-size: 1rem;
  color: white;
  z-index: 20;
  background-color: #1c1c1c;
  padding: 0px 3px 0px 3px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--tertiary-color);
  box-shadow: 0 0 0 2px rgba(26, 232, 29, 0.2);
}

.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 200000;
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.blob-container {
  position: relative;
  width: 350px;
  height: 350px;
}

.blob-shape {
  position: absolute;
  inset: 0;
  overflow: hidden;
  border: 1px solid #f0f0f0;

  animation: blobAnimation 5s infinite ease-in-out;

  border-radius: 42% 58% 63% 37% / 41% 44% 56% 59%;
}

.blob-image {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  transform: none;
  object-position: center;
}

.carousel {
  scroll-snap-type: x mandatory;
  scroll-padding: 0 24px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  border-radius: 15px;
}

.work-picture {
  position: relative;
  width: 425px;
  height: 315px;
  border: 2px solid #0a0a09;
  margin: 10px;
  transition: all ease-in 0.2s;
  border-radius: 25px;
  overflow: hidden;
}

.work-picture img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.work-picture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: linear-gradient(to bottom, rgba(12, 231, 12, 0.625), rgba(3, 25, 4, 0.744));
  transition: height 0.4s ease;
  z-index: 2;
  pointer-events: none;
}

.container:hover .work-picture::before {
  height: 100%;
}

.container:hover .work-picture {
  box-shadow: 0 0 16px black;
}

.picture-text,
.github-text,
.link-text {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition:
    opacity 0.2s ease-in,
    transform 0.3s ease-out;
  pointer-events: auto;
  z-index: 3;
}

.container:hover .picture-text,
.container:hover .github-text,
.container:hover .link-text {
  opacity: 1;
  transform: translate(-50%, -70%);
}

.picture-text {
  top: 30%;
  left: 50%;
}
.github-text {
  top: 50%;
  left: 40%;
}
.link-text {
  top: 50%;
  left: 60%;
}

.modal {
  position: relative;
  top: 4vh;
  background-color: var(--primary-color);
  padding: 2rem;
  border-radius: 24px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 5;
  animation: slide-down 500ms ease-out forwards;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.type-writer {
  position: relative;
  position: relative;
  width: max-content;
}

.type-writer::before,
.type-writer::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.type-writer::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

.type-writer::after {
  width: 0.125em;
  animation:
    typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters));
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes blobAnimation {
  0% {
    border-radius: 42% 58% 63% 37% / 41% 44% 56% 59%;
  }

  50% {
    border-radius: 58% 42% 30% 70% / 55% 27% 73% 45%;
  }

  100% {
    border-radius: 42% 58% 63% 37% / 41% 44% 56% 59%;
  }
}

@media screen and (max-width: 863px) {
  .type-writer::after {
    opacity: 0;
  }
  .blob-container {
    display: none;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
